.titul-h1 {
    text-align: center;
    margin-left: 10px;
    background-color: brown;
}

.titul-h2 {
    text-align: center;
    margin-left: 10px;
    background-color: chocolate;
}

.ingredientes-h2 {
    color: darkmagenta;
}
